<!DOCTYPE html>
<html>
<head></head>
<body>

	<div class="nav-category">
		<h2 th:text="#{utility.admin.basicData.label}">Basic Data</h2>
		<ul class="nav nav-pills nav-stacked">
			<li th:class="${#strings.equals(submenu,'company')} ? active">
				<a th:href="@{/company/list}" th:text="#{company.label.plural}">Companies</a>
			</li>
		</ul>
	</div>
	<div class="nav-category">
		<h2 th:text="#{utility.admin.systemAdmin.label}">System Administration</h2>
		<ul class="nav nav-pills nav-stacked">
			<li th:class="${#strings.equals(submenu,'server-info')} ? active">
				<a th:href="@{/admin/server-info}" th:text="#{utility.serverInfo.label}">Server Info</a>
			</li>
		</ul>
	</div>

</body>
</html>