<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<!-- Bootstrap Switch -->
<link rel="stylesheet" th:href="@{'/webjars/bootstrap-switch/'+#{application.dependency.bootstrap-switch}+'/css/bootstrap3/bootstrap-switch.min.css'}"/>

<!-- Patternfly -->
<link rel="stylesheet" th:href="@{'/webjars/patternfly/'+#{application.dependency.patternfly}+'/dist/css/patternfly.min.css'}"/>
<link rel="stylesheet" th:href="@{'/webjars/patternfly/'+#{application.dependency.patternfly}+'/dist/css/patternfly-additions.min.css'}"/>

<!-- App style -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
